@charset "utf-8";
/* CSS Document */
#banner {
	position: absolute;
	width: 100%;
	height: 100px;
	background-image: url(../../images/banner_top.png);
	z-index: 1;
}

#logo {
	max-width:250px;
	height:100px;
	margin-left:10px;
	float:left;
	vertical-align:central;
	text-align:center;
	

}
.menu {
	width: 100px;
	height: 100px;
	background-image:url(../../images/menu.png);
	background-position: center center;
	background-size:50%;
	background-repeat:no-repeat;
	margin:0 0 0 10px;
	float:left;
	
}
#page {
	width: 100%;
	height: 100%;

}
#content{
	width: 100%;
	height: 100%;
	margin-top:125px;
	padding-bottom:50px;

}
#content label{
	font-color: #69c;
	font-family:"微軟正黑體";

}
img {
     height: auto;
     max-width: 100%;
}
a {
	text-decoration:none;
}
body {
    margin: 0;
    padding: 10px;
    font-size: 18px;
	background-color:#F0F8FF;
}
nav {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 30px;             
}
.nav ul{
    margin: 0;
    padding: 0;
}
.nav li{
    position: relative;
    float: left;
    color: #FFF;
    list-style: none;
    background: #69C;
}
.nav li a {
    display: block;        
    color: #FFF;
    text-decoration: none;
	 padding: 10px 15px;
}
 
.nav li:hover {
    background: :#D0E8FF;
}
.nav li ul {
    background-color: rgba(228, 238, 224, 1);
    display: none;
    position: absolute;
    top: 100%;
}
.nav li:hover ul {
    display: block;
    right: 0;
    left: 0;
    top: 100%;
	background:#D0E8FF;
}
.arrow-bottom {
    position: absolute;
    top: 25px;
    right: 13px;
    margin-left: 5px;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;    
    border-left: 4px solid transparent;        
    width: 1px;
    height: 1px;
}

@media (max-width: 640px) { 
    .nav {
        display: none;
    }
    .menu {
		width: 100px;
		height: 100px;
		background-image:url(../../images/menu.png);
		background-position: center center;
		background-size:50%;
		background-repeat:no-repeat;
		margin:0 0 0 10px;
		float:left;
        display: inline-block;

    }
    .nav li{
        float: none;
    }
    .nav li a{
        padding: 10px 15px;
    }
    .nav li:hover ul{
        position: relative;
        display: block;
        background:#D0E8FF;
		
    }
    .nav li:hover ul li{
        background: transparent;
    }
    .nav li:hover ul li a{
        padding-left: 30px;
    }
    .arrow-bottom {
        top: 20px;
    }
}